//blocks
.carousel {
	position: relative;
	display: flex;
	padding-bottom: 48px;
	justify-content: center;
	align-items: stretch;
}

.carousel-dots {
	position: absolute;
	bottom: 0;
}

.carousel-content {
	width: $contentWidth;
	overflow: hidden;

	transition: height 1s;
}

//elements
.carousel-arrow {
	position: relative;
	display: block;
	width: 80px;

	&::after {
		content: '';
		position: absolute;
		width: 32px;
		height: 32px;
		top: 50%;

		opacity: 0.5;

		border-right: 3px solid #000;
		border-bottom: 3px solid #000;
	}

	&:hover::after { opacity: 1; }

	&.carousel-arrow-prev::after {
		right: 16px;
		transform: rotate(135deg);
	}

	&.carousel-arrow-next::after {
		left: 14px;
		transform: rotate(-45deg);
	}
}

.carousel-dot {
	margin: 0 4px;

	border-radius: 4px;
	border: 4px solid #000;
	opacity: 0.25;

	&.active { opacity: 0.5; }
}

.carousel-slide {
	p { margin-bottom: 1em; }
}

//ids
#carousel { background: #eee; }

//media
@media (max-width: 768px) {
	.carousel-content { width: 480px; }
	.carousel-arrow { display: none; }
}

/* small mobile */
@media (max-width: 480px) {
	.carousel-content { width: 300px !important; }
}

/* tablet */
@media (min-width: 769px) and (max-width: 900px) {
	.carousel-content { width: 768px; }
}

/* laptop */
@media (min-width: 901px) and (max-width: 1200px) {
	.carousel-content { width: 900px; }
}